<div class="post">
  <div class="header">
    <h1>Post Title</h1>

    <button routerLink="/" class="btn btn-link">На главную</button>
  </div>
  <div class="info">
    <strong>
      Тут автор
    </strong>
    <small>
      12.09.2019
    </small>
  </div>
  <div>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptates, quas vero, facere quidem ad sapiente
      fugit ratione ducimus quia voluptas consectetur, hic accusamus! Dolores, expedita nostrum similique
      exercitationem non nobis!</p>
  </div>
</div>
